
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

$background: #3a3a3a;
$secondary-background: #282828;
$primary: #EEF4ED;
$secondary: #8DA9C4;

html {
    color: $primary;
    font-family: "Fira Code";
    background-color: $background;
}

body{
    margin: 0;
}

header {
     padding: 1rem 2rem;
     background: $secondary-background;
}


main {
    max-width: calc(min(1200px, 100%));
    margin: 0 auto;
}


a {
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor:pointer;  
        color: $primary;
        text-decoration:none; 
    }
}
pre {
  overflow: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

h2 {
    font-size: 1.5rempx;
    margin-bottom: 1rem;
}


/* Whatever */

.blog-post {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: $secondary-background;
}

.post-date {
    color: #{$secondary};
}

.post-excerpt {
    margin-top: 1rem;
}
