@import url("https://fonts.googleapis.com/css?family=Fira+Code");

$background: #3a3a3a;
$secondary-background: #282828;
$third-background: #1f1f1f;
$primary: #eef4ed;
$secondary: #8da9c4;

html {
    color: $primary;
    font-size: 20px;
    font-weight: 400;
    font-family: "Fira Code";
    background-color: $secondary-background;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    margin: 1rem;
    display: flex;
    padding-left: 2rem;
    background: $secondary-background;
    h1 {
        margin: auto 0;
    }
    nav {
        float: left;
        margin: auto 0 auto auto;
        a {
            float: left;
            padding: 1rem;
            &:hover {
                background-color: $third-background;
            }
        }
    }
}
footer {
    height: 2rem;
    text-align: right;
    margin: 1rem 2rem;
    background: $secondary-background;

    .social-icon {
        text-decoration: none;
        color: $primary;
        height: 2rem;
        width: 2rem;
    }
}

main {
    flex: 1;
    padding: 1rem 3rem;
    background: $background;
    article {
        margin: 0 auto;
        max-width: calc(min(1200px, 100%));
    }
}

a {
    color: inherit;
    &:hover {
        cursor: pointer;
        color: $primary;
        text-decoration: none;
    }
}

pre {
    overflow: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.blog-post {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: $secondary-background;
}

.post-date {
    color: #{$secondary};
}

.post-excerpt {
    margin-top: 1rem;
}

.nav-link {
    text-decoration: none;
}
