<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

  <title>{{ config.title }}</title>
</head>

<body>
  <header>
    <h1>
      <a href="{{ config.base_url }}">{{ config.title }}</a>
    </h1>
  </header>
  <main>
    <article>
      {% block content %} {% endblock %}
    </article>
  </main>
  </section>
</body>

<footer>
  Hellow
</footer>

</html>
