{% import 'macros/icons.html' as icons -%}

<!DOCTYPE html>

<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

  <title>{{ config.title }}</title>
</head>

<body>
  <header>
    <h1>
      <a href="{{ config.base_url }}">{{ config.title }}</a>
    </h1>
  </header>
  <main>
    <article>
      {% block content %} {% endblock %}
    </article>
  </main>
  </section>
</body>

<footer>
  {{ icons::link(icon="github", link="https://github.com/xgroleau", classes="social-icon") }}
  {{ icons::link(icon="linkedin", link="https://www.linkedin.com/in/xavier-groleau", classes="social-icon") }}
  {{ icons::link(icon="mastodon", link="https://mastodon.social/@xgroleau", classes="social-icon") }}
  {{ icons::link(icon="twitter", link="https://x.com/XGroleau", classes="social-icon") }}
  {{ icons::link(icon="mail", link="mailto:xavgroleau@gmail.com", classes="social-icon") }}
  {{ icons::link(icon="key", link="https://github.com/xgroleau.keys", classes="social-icon") }}
</footer>

</html>
