{% extends "base.html" %} {% block content %} {{ section.content | safe }}

<div>
  {% for post in section.pages %}
  <article class="blog-post">
    <a href="{{ post.permalink }}" class="nav-link">
      <h2>{{ post.title }}</h2>
      <p class="post-date">{{ post.date | date(format="%B %d, %Y") }}</p>

      <div class="post-excerpt">
        {{ post.summary | linebreaksbr | replace(from="<br />", to=" ") |
        striptags | trim | safe }}
      </div>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock content %}
