{% extends "base.html" %}
{% block content %}

<h2>Blog posts</h2>

<p>
  Some of my thoughts on different stuff.
</p>

<div>
  <h3>Recent articles</h3>
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% set blog_section = get_section(path="blog/_index.md") %}
    {% for post in blog_section.pages %}
    <article class="blog-post">
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <p class="post-date">{{ post.date | date(format="%B %d, %Y") }}</p>
        <div class="post-excerpt">
            {{ post.summary }}
        </div>
    </article>
{% endfor %}
  </ul>
</div>
{% endblock content %}
